.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author{
    display: flex;
    width: 18%;
    flex-direction: column;
    margin-top: 5px;
}

.author-line-details{
    display: flex;
    min-width: 100%;
}

.author-details-head{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 50%;
}

.author-details-data{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 50%;
}
