<app-banner [heading1]="managementOffersHeading1" [heading2]="managementOffersHeading2" [heading3]="managementOffersHeading3"></app-banner>

<div class="list">
  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Aumax S.A.</mat-card-title>
            <mat-card-subtitle>SRUM Master</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje Scrum Mastera, który będzie odpowiedzialny za zarządzanie procesem wytwarzania oprogramowania zgodnie z metodologią Agile oraz koordynację pracy zespołu deweloperskiego. Wymagana certyfikacja Scrum Mastera, doświadczenie w prowadzeniu scrumowych spotkań oraz umiejętność motywowania zespołu. Oferujemy stabilne zatrudnienie, atrakcyjne wynagrodzenie oraz możliwość rozwoju zawodowego.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>

  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>SKKP S.A.</mat-card-title>
            <mat-card-subtitle>Project Manager</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje Project Managera, który będzie odpowiedzialny za planowanie, organizację i koordynację projektów IT, w tym zarządzanie zespołem projektowym, monitorowanie postępu prac i kontrolę kosztów. Wymagana znajomość metodyk zarządzania projektami IT, doświadczenie w prowadzeniu projektów IT oraz umiejętności interpersonalne. Oferujemy stabilne zatrudnienie, atrakcyjne wynagrodzenie oraz możliwość rozwoju zawodowego.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>

  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>SPPORK S.A.</mat-card-title>
            <mat-card-subtitle>Agile Master</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje Agile Mastera, który będzie odpowiedzialny za koordynację i wdrażanie praktyk Agile w procesach biznesowych firmy. Wymagana certyfikacja Agile Mastera, doświadczenie w prowadzeniu projektów w metodyce Agile oraz umiejętności interpersonalne. Oferujemy stabilne zatrudnienie, atrakcyjne wynagrodzenie oraz możliwość rozwoju zawodowego w dynamicznym i innowacyjnym środowisku.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>
</div>