<app-banner [heading1]="itOffersHeading1" [heading2]="itOffersHeading2" [heading3]="itOffersHeading3"></app-banner>

<div class="list">
  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Januszex S.A.</mat-card-title>
            <mat-card-subtitle>Programista PHP</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje programisty PHP, który będzie odpowiedzialny za projektowanie, rozwijanie i utrzymywanie aplikacji internetowych w języku PHP. Wymagana znajomość frameworka Laravel, doświadczenie w pracy z bazami danych MySQL oraz umiejętność pracy w zespole. Oferujemy atrakcyjne wynagrodzenie oraz możliwość rozwoju zawodowego.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>

  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>E-komputer S.A.</mat-card-title>
            <mat-card-subtitle>Specjalista IT</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje Specjalisty IT, który będzie odpowiedzialny za projektowanie, rozwijanie i utrzymywanie systemów informatycznych, aplikacji i sieci komputerowych. Wymagana znajomość systemów operacyjnych, sieci i protokołów komunikacyjnych oraz języków programowania takich jak Java, Python, C++. Oferujemy stabilne zatrudnienie w dynamicznie rozwijającej się firmie oraz atrakcyjne wynagrodzenie.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>

  <mat-tab-group class="mat-tab-group" headerPosition="below">
    <mat-tab label="Przeglądaj">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Procesor S.A.</mat-card-title>
            <mat-card-subtitle>Architekt Java</mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Poszukuje doświadczonego Architekta Java, który będzie odpowiedzialny za projektowanie i wdrażanie rozwiązań w oparciu o technologie Java. Wymagana znajomość frameworka Spring, doświadczenie w pracy z bazami danych SQL oraz umiejętność zarządzania projektem i zespołem. Oferujemy atrakcyjne wynagrodzenie, stabilne zatrudnienie i możliwość rozwoju zawodowego.
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aplikuj"><app-form/></mat-tab>
  </mat-tab-group>
</div>